.container{
  margin-top:1rem;
}

.card{
  background-color: white;
  position:relative;
  border-radius: 20px;
  margin:0.7rem;
  padding: 0.2rem 1.5rem 3rem 1.5rem;
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.12);
-webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.12);
-moz-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.12);
}
.chip{
  position:absolute;
  bottom:1rem;
}

.tab{
  background-color: rgb(255, 255, 255);
  color:black;
}

.MuiButton-label{
  justify-content: start !important;
  font-size:medium;
  
}